body {
  background-image: linear-gradient(to right, #90caf9, #bbdefb, #90caf9);
}
h1 {
  text-align: center;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.btn {
  display: flex;
  justify-content: center;
}
button {
  padding: 5px;
}
#theme.form-select.form-select-lg.mb-3 {
  width: 300px;
}
#nb-citation.form-select.form-select-lg.mb-3 {
  width: 300px;
}
select {
  padding: 3px;
}
.div-citation {
  font-size: 25px;
  color: black;
  text-align: center;
}
#mes-citations {
  margin-top: 75px;
}
